:root {
    /* background colors */
    --main-background-color: #ffffff;
    --accent-background-color: #2F303A;
    --second-background-color: #F5F4FA;
    /* text colors */
    --main-text-color: #757575;
    --second-text-color: #212121;
    --accent-text-color: #2196F3;
    --hero-text-color: #ffffff;
    /* accent colors */
    --accent-background-button-color: #2196F3;
    --accent-text-button-color: #ffffff;
    /* border colors */
    --border-header-color: #ECECEC;
    --border-picture-color: #EEEEEE;
    --border-accent-color: #2196F3;
}